.cards-view {
  background-color: #21d4fd;
  background-image: linear-gradient(19deg, #21d4fd 0%, #b721ff 100%);
  min-height: 100vh;
}

.cards-view__overlay {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  background: transparent;
}

.is-adding .cards-view__overlay {
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.is-adding .cards-view__content {
  filter: blur(2px);
}

.cards-view h1 {
  text-align: center;
  color: white;
  padding-top: 15vh;
  font-size: 3rem;
  font-weight: 900;
  margin: 0;
}

.children-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 4rem 1rem;
}

.child-card__link {
  text-decoration: none;
  transition: transform 0.15s;
  color: #664e73;
  margin: 1rem;
}

.child-card__link:hover {
  transform: translateY(-2px);
}

.child-card {
  position: relative;
  padding: 1rem;
  background: white;
  text-align: center;
  padding: 0;
  border-radius: 4px;

  /* border: solid 1px #f7f7f7; */
  box-shadow: 0 5px 20px -3px rgba(0, 0, 0, 0.05);
}

.child-card header {
  /* background: #f7f7f7; */
  padding: 1.5rem 0;
}

.child-card h2 {
  padding: 0 3rem;
  margin-top: 0;
  margin-bottom: 1rem;
  font-weight: 900;
}

.child-card-points {
}

.points-label {
  text-transform: uppercase;
  font-size: 0.75rem;
}

.child-card-points h2 {
  font-size: 3rem;
  font-weight: 900;
  line-height: 1;
  margin: 0;
}

.child-card-stats {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: solid 1px #f0f0f0;
  border-bottom: solid 1px #f0f0f0;
}

.child-card-stats li {
  padding: 1rem 1.5rem;
  flex: 1;
  white-space: nowrap;
}

.stats-tasks {
  border-right: solid 1px #f0f0f0;
}

.child-card-achievements {
  padding: 1rem 1.5rem;
  text-align: center;
}

.child-card-delete {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: tomato;
  border: none;
  width: 1.5rem;
  color: white;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  border-radius: 3px;
  border: solid 2px transparent;
}

.child-card-delete:hover {
  cursor: pointer;
  border-color: rgba(0, 0, 0, 0.2);
}

.children {
  display: flex;
  flex-wrap: wrap;
}

.child {
  flex: 0 1 400px;
  margin: 0.5rem 1.5rem;
}
