/* the form */
.add-child {
  position: fixed;
  z-index: 4;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-child .inline-form {
  padding: 2rem;
  background: white;
  border-radius: 4px;
}

.add-child .inline-form fieldset {
  margin-bottom: 0;
}
