* {
  box-sizing: border-box;
}

body {
  margin: 2rem;
}

.child {
}

.total-points {
  font-size: 3rem;
  font-weight: 900;
}

.input-form fieldset {
  border: none;
}
.input-form label {
  display: block;
}

/* tasks */
.task-items {
  padding: 0;
}

.task-item {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0.5rem 0;
}

.task-button {
  position: relative;
  border: none;
  display: block;
  flex: 0 1 360px;
  text-align: left;
  padding: 0;
  border: solid 2px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  background: white;
  font-size: 0.9rem;
  margin-right: 0.5rem;
  cursor: pointer;

  display: flex;
  align-items: stretch;
}

.task-button:hover {
  background: rgba(7, 255, 204, 0.1);
}

.task-name {
  margin-right: auto;
  padding: 0.75rem;
}

.task-points,
.task-counter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 0 0 50px;
  border-left: solid 2px rgba(0, 0, 0, 0.1);
}
.task-points {
}

.task-counter {
  padding-right: 0;
}

.task-delete {
  background: tomato;
  border: solid 2px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}
