/* ##### global stuff ##### */

// #21d4fd

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.get-started {
  position: absolute;
  bottom: 2rem;
  right: 7rem;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  line-height: 1;
  color: rgba(255, 255, 255, 0.4);
}

.heading,
.subheading {
  margin-top: 2rem;
  color: #3b3b3b;
  font-weight: 900;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.subheading {
  font-size: 0.8rem;
  margin-top: 1.5rem;
  color: #b7b7b7;
}

/* ##### children list view ##### */

.home-view-wrapper {
  background-color: #21d4fd;
  background-image: linear-gradient(19deg, #21d4fd 0%, #b721ff 100%);
  min-height: 100vh;
}

.home-view-wrapper h1 {
  text-align: center;
  color: white;
  padding-top: 15vh;
  font-size: 3rem;
  font-weight: 900;
  margin: 0;
}

.children-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 4rem 1rem;
}

.child-card {
  position: relative;
  flex: 0 0 250px;
  margin: 1rem;
  background: white;
  text-align: center;
  padding: 0;
  border-radius: 4px;
  color: #664e73;
  /* border: solid 1px #f7f7f7; */
  box-shadow: 0 5px 20px -3px rgba(0, 0, 0, 0.05);
  transition: transform 0.15s;
  text-decoration: none;
}

.child-card:hover {
  transform: translateY(-2px);
}

.child-card header {
  /* background: #f7f7f7; */
  padding: 1.5rem 0;
}

.child-card h2 {
  padding: 0 1.5rem;
  margin-top: 0;
  margin-bottom: 1rem;
  font-weight: 900;
}

.child-card-points {
  padding: 0 1.5rem;
}

.points-label {
  text-transform: uppercase;
  font-size: 0.75rem;
}

.child-card-points h2 {
  font-size: 3rem;
  font-weight: 900;
  line-height: 1;
  margin: 0;
}

.child-card-stats {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: solid 1px #f0f0f0;
  border-bottom: solid 1px #f0f0f0;
}

.child-card-stats li {
  padding: 1rem 1.5rem;
}

.stats-tasks {
  border-right: solid 1px #f0f0f0;
}

.child-card-achievements {
  padding: 1rem 1.5rem;
  text-align: center;
}

.child-card-delete {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: tomato;
  border: none;
  width: 1.5rem;
  color: white;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  border-radius: 3px;
  border: solid 2px transparent;
}

.child-card-delete:hover {
  cursor: pointer;
  border-color: rgba(0, 0, 0, 0.2);
}

.add-child-button {
  /* background: white; */
  padding: 0.75rem;
  border: solid 2px white;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  font-size: 1.6rem;
  font-weight: 800;
  border-radius: 50%;
  line-height: 1;
  transition: all 0.1s ease-in-out;
  z-index: 9;
  cursor: pointer;
}

.add-child-button:focus {
  outline: none;
}

.add-child-button:hover {
  background: rgba(255, 255, 255, 0.2);
}

.add-child-button.open {
  transform: rotate(45deg);
}

.add-child-icon {
  fill: white;
  height: 32px;
  width: 32px;
}

.children {
  display: flex;
  flex-wrap: wrap;
}

.child {
  flex: 0 1 400px;
  margin: 0.5rem 1.5rem;
}

/* the form */
.add-child {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.7);
}

.add-child .inline-form {
  padding: 2rem;
  background: white;
}

/* ##### child view ##### */

.column-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

/* #####
summary
##### */

.child-summary {
  flex: 0 0 320px;
  margin-right: 3rem;
}

.summary {
  position: relative;
  border: solid 2px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.summary-name {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.delete-child {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}

.total-points {
  font-size: 3rem;
  margin: 0;
  font-weight: 900;
}

.reset {
  background: tomato;
  color: rgba(255, 255, 255, 0.9);
  border: solid 2px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  cursor: pointer;
  transition: transform 0.05s;
}

.reset-gray {
  background: #e7e7e7;
  color: #7b7b7b;
}

.reset:hover {
  transform: translateY(1px);
  border-color: rgba(0, 0, 0, 0.2);
}

/* ##### 
list items 
##### */

.list-items {
  padding: 0;
}

.list-item {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0.85rem 0;
}

.list-button {
  position: relative;
  display: block;
  flex: 1;
  text-align: left;
  padding: 0;
  border: solid 2px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  background: white;
  font-size: 0.9rem;
  outline-width: 0;
  margin-right: 0.5rem;
  cursor: pointer;

  display: flex;
  align-items: stretch;
}

.list-button:hover {
  background: rgba(7, 255, 204, 0.1);
}

.list-button[disabled] {
  opacity: 0.8;
  cursor: not-allowed;
}

.list-button[disabled]:hover {
  background: inherit;
}

.list-button__name {
  margin-right: auto;
  padding: 0.75rem;
}

.list-button__points {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 0 0 50px;
  border-left: solid 2px rgba(0, 0, 0, 0.1);
  padding-right: 0;
}

.list-button__counter {
  position: absolute;
  top: -.55rem;
  left: 0.5rem;
  font-size: 0.6rem;
  line-height: 1;
  color: #999;
  background: white;
  padding: 0.2rem 0.4rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.list-button__progress {
  position: absolute;
  bottom: -2px;
  left: -2px;
  z-index: 2;
  background: #07ffcc;
  height: 3px;
  max-width: calc(100% + 4px);
}

/* #####
inline-form 
##### */

.inline-form {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
}

.inline-form fieldset {
  border: none;
  padding: 0;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}
.inline-form label {
  display: block;
  font-size: 0.7rem;
  margin-bottom: 0.2rem;
  color: #b7b7b7;
}

.inline-form input {
  border: solid 2px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  padding: 0.3rem 0.5rem;
}

.inline-form input[type="text"] {
  width: 200px;
}

.inline-form input[type="number"] {
  width: 70px;
}

.inline-form input[type="submit"] {
  background-color: rgba(7, 255, 204, 0.1);
  padding-left: 1rem;
  padding-right: 1rem;
  cursor: pointer;
}

.inline-form input[type="submit"]:hover {
  border-color: rgba(0, 0, 0, 0.2);
}

.breadcrumb {
  display: block;
  margin-bottom: 1.5rem;
}
