.stat-blocks {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.stat-block {
  margin-right: 2rem;
  margin-top: 0;
  margin-bottom: 0.25rem;
}

.stat-block--long {
  flex: 1 1 auto;
}

.stat-block__label {
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 1px;
  line-height: 1;
  margin-bottom: 0.2rem;
  color: #999;
}

.stat-block__value {
  font-weight: 900;
  font-size: 2.5rem;
  line-height: 1;
  margin: 0;
}
